html, body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: "Spoqa Han Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    line-height: 1.8;
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
    }
}

.dummy {
    height: 100%;
}

.vertical-center {
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-center-inner {
    display: table-cell;
    vertical-align: middle;
}

.btn-naver {
    background-color: #00B900;
    border-color: #00B900;
    color: #fff;
}

.btn-kakao {
    background-color: #FFEB00;
    border-color: #FFEB00;
    color: #3C1E1E;
}

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
#header,
#header > .container {
    height: 100%;
}
#header .title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
#header .profile {
}
#header .profile > img {
    display: block;
    width: 100%; // 800 x 1167
}
#header .blind {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
}
#header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 50px;
    font-size: 53px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    line-height: .9;
    border: 5px solid #fff;
}
#header .down_arrow {
    right: 20px;
    position: absolute;
    bottom: 20px;
    border: 1px solid #adadad;
    padding: 3px;
    border-radius: 20px;
    width: 40px;
    text-align: center;
    color: #333;
    cursor: pointer;
    height: 40px;
    line-height: 32px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .6);
}
@media (min-width: 768px) and (max-width: 991px) {
    #header .title {
        width: 600px;
    }
    #header h1 {
        font-size: 40px;
        padding: 37px;
    }
}
@media (min-width: 401px) and (max-width: 767px) {
    #header .title {
        width: 400px;
    }
    #header h1 {
        font-size: 27px;
        padding: 25px;
        border: 3px solid #fff;
    }
}
@media (max-width: 400px) {
    #header .title {
        width: 320px;
    }
    #header h1 {
        font-size: 22px;
        padding: 20px;
        border: 2px solid #fff;
    }
}


#welcome,
#welcome > .container {
    height: 100%;
}
#welcome {
}

#welcome .parents {
    margin-top: 50px;
}

#location,
#location > .row,
#location > .row > div {
    height: 100%;
}

#location_description .vertical-center-inner {
    padding: 20px 40px;
}

#location {
    font-size: 16px;
}
#location h3 {
    font-size: 15px;
}
#location h4 {
    font-size: 13px;
}
@media (min-width: 401px) and (max-width: 767px) {
    #location_description .vertical-center-inner {
        padding: 20px 20px 80px 20px;
    }
    #location {
        font-size: 14px;
    }
    #location h3 {
        font-size: 17px;
    }
}
@media (max-width: 400px) {
    #location_description .vertical-center-inner {
        padding: 20px 20px 80px 20px;
    }
    #location {
        font-size: 13px;
    }
    #location h3 {
        font-size: 15px;
    }
}
#location .contacts + .row {
    margin-top: 15px;
}
@media (max-width: 991px) {
    #location .links-open-map > .col-md-6 + .col-md-6 {
        margin-top: 5px;
    }
}

#float {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 999;
}

#float .link {
    position: absolute;
    bottom: 20px;
    border: 1px solid #adadad;
    padding: 3px;
    border-radius: 20px;
    width: 40px;
    text-align: center;
    color: #333;
    cursor: pointer;
    height: 40px;
    line-height: 32px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .6);
}

#float .link:hover {
    border-color: #333;
    background: #333;
    color: #fff;
}

#link-link-btn {
    right: 170px;
}
#kakao-link-btn {
    right: 120px;
}
#facebook-link-btn {
    right: 70px;
}
#twitter-link-btn {
    right: 20px;
}

.icon {
    -webkit-user-select: none;
    display: inline-block;
}

.icon-offline {
    content: -webkit-image-set( url(assets/default_100_percent/100-error-offline.png) 1x, url(assets/default_200_percent/200-error-offline.png) 2x);
    position: relative;
}

.hidden {
    display: none;
}
